@import "colors";

html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-background;
  color: $color-main;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

@media screen and (prefers-color-scheme: dark) {
  $color-main: $color-light;
  $color-background: $color-dark;
  $color-offset: $color-dark-secondary;
}
